@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

img {
    width: 25px;
    height: 25px;
}

body{
    width: 100%;
    height: 100%;
    margin: 0; /* Va supprimer tout espace externe autour de l'élement */
    background-color:aliceblue ;
    box-sizing: border-box; /*Va modifier la façon dont la largeur et hauteur est organiser. Mais taille reste constant malgré bordure ou ajout contenu */
    border-width: 0;   /*Supprime totalement la bordure de l'élément */
    border-style: solid;   /* */
    border-color: #e5e7eb;   /* */

}

*{
    margin: 0; /* Permet d'éliminer les espaces inutiles entre les éléments */
    padding: 0;
}

/*  EN-TÊTE */

#tete { 
    height: 70px;
    width: 100%;  /* en tete occupe toute la latgeur*/
    font-family: "Arimo", sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(165, 192, 165);
    
}

#tete a {
    text-decoration: none; /* Supprime les soulignements des liens */
}

#onglet {
    font-family: "Arimo", sans-serif;
    font-weight: bold;
    font-size: 15px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    justify-content: space-between; 
    align-content: space-around;
}

#onglet a {
    color: black;
}
#onglet a:hover {
    transform: scale(1.2); /* Augmentez la valeur pour un zoom plus important */
}

#Logo {
    margin-left: auto;   /*Pour aligner l'image au centre */
   /* margin-right: auto;*/
    
}
.logo {
    width: 70px;
    height: 70px;
}

#acceuil {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    text-align: center;
    justify-content: center; /* Centre horizontalement le contenu */
    align-items: center; /* Centre verticalement le contenu */
    grid-column: 2/span 4;

}
.un {
    padding: 0px;
}

#panier {
    display: flex;
    justify-content: center; /* Centre horizontalement le contenu */
    align-items: center; /* Centre verticalement le contenu */
    text-align: center;
}
#compte {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}
#info {
    display: flex;
    justify-content: center; 
    align-items: center; 
   
}


/* Page ppadding: 20px;rincipale*/
#en-tete-contenu {
    width: 100%;
    height:150px;
    background-color: #7b9084;
    /* IMAGE */
    background-image: url('../../Images/Arrière-plan.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
h1 {
    display: flex;
    text-align: center;
    justify-content: center; 
    padding-top: 1rem;
    font-size: 3rem;
    color: #ffffffee;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* Définissez les valeurs selon vos préférences :
     - Le premier nombre (2px) est l'ombre horizontale.
     - Le deuxième nombre (2px) est l'ombre verticale.
     - Le troisième nombre (4px) est le flou de l'ombre.
     - rgba(0, 0, 0, 0.5) est la couleur de l'ombre (noir semi-transparent).
  */
}
.bouton {
    display: block;
    margin: 0 auto;
    top: auto;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color:darkseagreen ;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    border: none;
}
.bouton:hover {
    background-color: rgb(173, 227, 173);
}

#tableau {
    display: grid; 
    width: 100%;
    grid-template-columns: repeat(4,1fr);
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 45px; 
}
h2 {
    padding: 10px;
    font-size: 1.5rem; 
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 1);

}
#printemps {
    flex-grow: 1;
    grid-column: 1;
    margin: 20px;
    background-color:#6fa978ee;
    text-align: center;
    color: #000000ee;
}
#ete {
    flex-grow: 1;
    grid-column: 2;
    margin: 20px;
    background-color: #32ad45ee;
    color: #000000ee;
    text-align: center;
}
#automne {
    flex-grow: 1;
    grid-column: 3;
    margin: 20px;
    background-color:  #87a48cee ;
    text-align: center;
    color: #000000ee;
}
#hiver {
    flex-grow: 1;
    grid-column: 4;
    margin: 20px;
    background-color: #a0a7a1ee;
    text-align: center;
    color: #000000ee;
}
.mois {
    text-align: center;
}
li {
    list-style: none;
}
h3 {
    padding: 8px;
    margin: 8px;
}
h4 {
    padding: 5px;
    margin: 15px;
    border: solid 0px   ;
    border-radius: 0px 2px 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 1);
}
























#bloc-fin {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 100px);
    background-color:rgb(56, 56, 56);
    background-size: cover;
    text-align: center ;
    padding: 20px;
}
.titre-footer {
    grid-column: 1/ span 3;
    align-content: center;
}
h5 {
    color:  #dcdbdbee;
    font-family: 'Protest Revolution', sans-serif;
    font-size: 50px;
    text-align: center;
    justify-content: center; 
    align-items: center;
}
h6 {
    color:   #dcdbdbee;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    text-align: center;
    align-items: center;
    margin: 20px;
}
.le-site {
    grid-column: 1;
    grid-row: 2/span 2;
}
.citation-texte {
    border-top: 1px solid #dcdbdbee;
    margin: 10px 0;
    padding: 5px 0;
    text-align: center;
}
.le-site p {
    padding: 10px;
    color:  #dcdbdbee;
}
.social-media img {
    color: #dcdbdbee ;
    align-content: space-around;
}


.lien-site {
    grid-column: 2;
    grid-row: 2/span 2;
}
.paragraphe {
    padding: 10px;
    color:  #dcdbdbee;
}

.contacter {
    grid-column: 3;
    grid-row: 2/span 2;
}

address div a {
    color:  #dcdbdbee;
}

/*corps*/



/* PIED*/

#pied{
    display: flex;
    height: 50px;
    width: 100%; /* en tete occupe toute la latgeur*/
    justify-content: center;   /* Centre horizontalement le contenu */
    align-items: center;  /* Centre verticalement le contenu */
    text-align: center; /* Centre le texte horizontalement */
    background-color: rgb(165, 192, 165);
}

/*pied*/