@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');

img {
    width: 25px;
    height: 25px;
}

body{
    margin: 0; /* Va supprimer tout espace externe autour de l'élement */
    background-color:aliceblue ;
    box-sizing: border-box; /*Va modifier la façon dont la largeur et hauteur est organiser. Mais taille reste constant malgré bordure ou ajout contenu */
    border-width: 0;   /*Supprime totalement la bordure de l'élément */
    border-style: solid;   /* */
    border-color: #e5e7eb;   /* */

}

*{
    margin: 0; /* Permet d'éliminer les espaces inutiles entre les éléments */
    padding: 0;
}

/*  EN-TÊTE */

#tete { 
    height: 70px;
    width: 100%;  /* en tete occupe toute la latgeur*/
    font-family: "Arimo", sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(165, 192, 165);
    
}

#tete a {
    text-decoration: none; /* Supprime les soulignements des liens */
}

#onglet {
    font-family: "Arimo", sans-serif;
    font-weight: bold;
    font-size: 15px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(1fr);
    justify-content: space-between; 
    align-content: space-around;
}

#onglet a {
    color: black;
}
#onglet a:hover {
    transform: scale(1.2); /* Augmentez la valeur pour un zoom plus important */
}

#Logo {
    margin-left: auto;   /*Pour aligner l'image au centre */
   /* margin-right: auto;*/
    
}
.logo {
    width: 70px;
    height: 70px;
}

#acceuil {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    text-align: center;
    justify-content: center; /* Centre horizontalement le contenu */
    align-items: center; /* Centre verticalement le contenu */
    grid-column: 2/span 4;

}
.un {
    padding: 0px;
}

#panier {
    display: flex;
    justify-content: center; /* Centre horizontalement le contenu */
    align-items: center; /* Centre verticalement le contenu */
    text-align: center;
}
#compte {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}
#info {
    display: flex;
    justify-content: center; 
    align-items: center; 
   
}

/*  En-tête */


 /*  CORPS */

#container {
    box-sizing: border-box;
    border-width: 3px;
    border-top: 1px;
    border-bottom: 0;
    align-content: center;
}

h1{
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    text-align: center;
    justify-content: center; 
    align-items: center;
}

h2 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    justify-content: center; 
    align-items: center;
}

h3 {
    color: black;
    font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    justify-content: center; 
    align-items: center;
}

#bloc1 {
    width: 100%;
    height: 50%;

    background-image: url('../Images/Arrière-plan.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
}
.bouton {
    position: absolute; /* positionne le bouton par rapport au conteneur*/
    top: auto;  /*Place le haut du bouton au milieu du conteneur */
    transform: translate(-50%, -50%); /* Centre le bouton en ajustant son positionnement */

    background-color:darkseagreen ; /*Couleur du font du bouton*/
    color: aliceblue;
    font-size: 20px; /*taille du texte */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1); /*Ajoute une ombre au bouton*/
    border: none;
}
.bouton:hover {
    background-color: rgb(173, 227, 173);
}


#bloc2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center; /*centre verticalement le contenu*/
    background-color: aliceblue;
}
.Image2 {
    max-width: 50%; /*Pour que image ne dépasse pas la largeur du contenu*/
    max-height: 100%; 
    height: auto; /*Pour maintenir les proportion de l'image*/
    display: block; /* Pour éliminer l'espace réservé sous l'image */
    margin: 0 auto; /* Pour centrer horizontalement l'image dans la colonne */
}
.image2 {
    width: 80%;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    border: none;
}
/*AJOUTER DES IMAGES ANIMES*/
.Texte2 {
    max-width: 70%;
    padding: 10px;
    text-align: justify;
}

#bloc3 {
   display: grid; 
   grid-template-rows: auto 1fr; /*la première ajustant sa taille au contenu (auto) , et la deuxième occupant tout l'espace restant (1fr).*/
   grid-template-columns: repeat(auto-fill, minmax (150px, 1fr)); /* Permet de remplir autant de colonnes que possible*/
   gap: 10px; /* espace entre les produits*/
   background-color: rgb(165, 192, 165);
}
.titre-bloc {
    grid-row: 1;
}
.titre-bloc h2 {
    text-align: left;
}

.contenu-produits {
    grid-row: 2;
    display: flex;
    flex-wrap: wrap; /* Pour que les éléments enfants passent à la ligne s'il n'y a plus de place  */
    align-items: flex-start;
    overflow: auto;
    width: auto;
}
.produit {
    flex: 1 0 calc(25% - 10px); /* 4 colonnes, 10 px entre chaque produits*/
    box-sizing: border-box; /* pour inclure des bordures et le rembourrage dans le calcul de la largeur*/
    border: 1px solid aliceblue ;
    padding: 10px;
    margin-bottom: 10px;
    background-color: cadetblue;
}
.produit h3 {
    padding: 20px;
}
.produit img {
    height: 170px;
    width: 120px; 
    height: auto; /*Pour maintenir les proportion de l'image*/
    display: block; /* Pour éliminer l'espace réservé sous l'image */
    margin: 0 auto;
}

label {
    display: inline; /* Afficher les étiquettes sur une même ligne */
    margin-bottom: 8px; /* Espace entre les étiquettes */
}
input[type="number"] {
    width: 15%; /* Remplir la largeur du conteneur parent */
    padding: 10px; /* Ajouter un espace intérieur aux champs de saisie */
    margin-bottom: 16px; /* Espace entre les champs de saisie */
    box-sizing: border-box; /* Inclure le padding et la bordure dans la largeur totale */
}
input[type="submit"] {
    background-color: aliceblue;
    color: black;
    padding: 12px 20px; /* Ajouter de l'espace intérieur au bouton */
    border: none; /* Supprimer la bordure par défaut du bouton */
    border-radius: 4px; /* Ajouter des coins arrondis au bouton */
    cursor: pointer; /* Afficher un curseur pointeur au survol du bouton */
}


/*corps*/

/* PIED*/

#pied{
    display: flex;
    height: 50px;
    width: 100%; /* en tete occupe toute la latgeur*/
    justify-content: center;   /* Centre horizontalement le contenu */
    align-items: center;  /* Centre verticalement le contenu */
    text-align: center; /* Centre le texte horizontalement */
    background-color: rgb(165, 192, 165);
}

/*pied*/